    
  <section class='heroimage' data-aos="fade-down">
    <h1 class='80px'  >Locato </h1> 
    <p>Welcome to Locato – Your key to unlocking the door to your next great adventure in Tunisia!</p>
    <div class='button'><a href="/list-ads">Find Rent/Colocation now ! </a></div>
  </section>
  
  <section class='middle' data-aos="fade-down">
    <div class='localsgroup'>
      <h4>Locals Love</h4>
      <div class= 'locals'>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/heart.png" alt="Love">
        <h5>Tourists Mispronouncing Melbourne (it's mel-bin), crowded trains & tram, ticket inspectors, unpredictable weathe, the price of real estate, Sydney
        </h5> 
      </div> 
      </div> 
  <div class='localsgroup' data-aos="fade-down">
    <h4> Colocation Made Simple</h4>
    <div class= 'locals'>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/chat.png" alt="Chat">
        <h5>. Connect with like-minded individuals, professionals, and businesses to share spaces that foster creativity, productivity, and community</h5>
      </div>
    </div>
    </section>
  
  <section>
    <div class='featuredneighbour' data-aos="fade">
      <h2> Easy Navigation, Seamless Experience</h2>
      <p>Locato is designed to streamline your search, saving you time and energy in your quest for the perfect space.</p> 
    </div>
    <nav class='spacearound' data-aos="fade">
      <div class= 'maindiv'>
        <div class='boxsize' id='fitzroy'>
          <h2> Trust and Security</h2>
        </div>
        <h5> Join the Locato Community</h5>
      </div>
      
    <div class= 'maindiv' data-aos="fade">
     <div class='boxsize' id='stkilda'> <h2>St Kilda</h2>
        <h5>Backpackers and packed sand</h5>
      </div>
          <h5>Cake Shops Backpackers Hippies Beach Culture</h5>
        </div>
      
    <div class= 'maindiv'>
      <div class='boxsize' id='businessdistrict'> 
        <h2>Central Business District</h2>
        <h5>Big Business, Little Laneways</h5>
        </div>
          <h5>Coffee Culture Working Nine To Fice Federation Square Fliders Street Station</h5>
          </div>
    </nav>
    <div class='divbutton'>
    <a class='button' href="">Find a neighbourhood</a>
    </div>
       </section>
       <footer data-aos="fade-down">
        <div class="f-division f-bg-black1 f-p3rem">
          <div class="f-df">
            <div class="f-dfc f-c30">
              <h2>Explore</h2>
              <a href="#" class="f-a">Rentals</a>
              <a href="#" class="f-a">Colocations</a>
              <a href="#" class="f-a">Locations</a>
              <a href="#" class="f-a">Blog</a>
            </div>
            <div class="f-dfc f-c30">
              <h2>Support</h2>
              <a href="#" class="f-a">Help Center</a>
              <a href="#" class="f-a">FAQs</a>
              <a href="#" class="f-a">Contact Us</a>
              <a href="#" class="f-a">Report an Issue</a>
            </div>
            <div class="f-dfc f-c30">
              <h2>Connect</h2>
              <a href="#" class="f-a">Community</a>
              <a href="#" class="f-a">Follow Us</a>
              <a href="#" class="f-a">Newsletter</a>
              <a href="#" class="f-a">Terms of Service</a>
            </div>
          </div>
        </div>
        <div class="f-division f-bg-black2 f-p3rem">
          <div class="f-df footer-bottom">
            <div>Made with passion in Tunisia</div>
            <div>© 2024 Locato, Inc.</div>
          </div>
        </div>
      </footer>
      
