* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px
}

ul li {
  display: inline;
  padding-left: 20px;
}

.heroimage {
  display: flex;
  background: url(https://www.hotelscombined.co.uk/rimg/dimg/65/31/da3b80aa-city-56544-1710b15a8ea.jpg?width=1366&height=768&xhint=1957&yhint=1897&crop=true&watermarkposition=lowerright);
  height: 80vh;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: gray;
  background-blend-mode: multiply;
}

h1 {
  font-size: 80px;
}

p {
  padding: 0px 0px 20px 0px
}

.button {
  background-color: #ff5358;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-bottom: #e00007 solid 3px;
  margin: 5px, 5px, 5px, 5px, ;
}

.middle {
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  padding: 40px;
}

.localsgroup {
  border: 0.5px solid #d9d9d9;
}

h4 {
  background-color: light-gray;
  padding: 10px;
}

.locals {
  display: flex;
  padding: 10px;
  background-color: white;
  width: 460px;
}

.featuredneighbour {
  padding: 40px;
  align-items: center;
  text-align: center;
}

.spacearound {
  justify-content: space-around;
}

.maindiv {
  margin: 0px 0px 30px 30px;
  width: 300px;
  height: 330px;
  background-color: #efefef;
  padding: 0px 0px 30px 0px;
}

.boxsize {
  height: 300px;
  width: 300px;
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#fitzroy {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg);
  background-size: cover;
  align-items: center;
  color: white;
}

#stkilda {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg);
  background-size: cover;
  align-items: center;
  color: white;
  background-color: lightgray;
  background-blend-mode: multiply;
}

#businessdistrict {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg);
  background-size: cover;
  align-items: center;
  color: white;
  background-color: lightgray;
  background-blend-mode: multiply;
}


.divbutton {
  padding: 0px;
  margin: 40px;
  text-align: center;
}

.f-division{
  width: 100%;
   margin: 0 auto;
 }
 .f-bg-black1{
   color: #adb5bd;
   background-color: #343a40;
 }
 .f-bg-black2{
   color: #adb5bd;
   background-color: #212529;
 }
 .f-p3rem{padding:3rem;}
 .footer-bottom{
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }
 .f-df{
   display:flex;
 }
 .f-c30{
   width: 30%;
 }
 .f-dfc
 {
   display: flex;
   flex-direction: column;
 }
 .f-a{
   text-decoration: none;
   cursor: pointer;
   color:#dee2e6;
   margin-bottom: .5rem;
   padding-bottom: .25rem;
 }
 h2{
   font-size: .8rem;
   text-transform: uppercase;
   color: #868e96;
   letter-spacing: .1em;
   box-sizing: border-box;
 }
 a:hover{color:white;}
 footer{
   font-family: 'Roboto' ;
 }