
<main>
  <article>
    <!-- Hero Section -->
    <section class="hero" id="home">
      <div class="container">
        <!-- Hero Content -->
        <div class="hero-content">
          <p class="hero-subtitle">
            <i class="bi bi-house-heart"></i>
            <span> LOCATO</span>
          </p>
          <h2 class="h1 hero-title">Find Your House Or Your Roomate By Locato</h2>
          <p class="hero-text">
            There is nothing more important than a good, safe, secure home. <br>
            What I love most about my home is who I share it with.
          </p>
          <button class="btn" routerLink="/list-ads">Go To Locato</button>
        </div>
        <!-- Hero Banner -->
        <figure class="hero-banner">
          <img src="./assets/hero-banner.png" alt="Modern house model" class="w-100">
        </figure>
      </div>
    </section>
  </article>
</main>
