<div>
  <h2>Received Form Data</h2>
  <p>Title: {{ formData.title }}</p>
  <p>Price: {{ formData.price }}</p>
  <p>Gender: {{ formData.gender }}</p>
  <p>Description: {{ formData.desc }}</p>
</div>

<h1 class="title">Complete accomodation details</h1>
<div class="content">
  <form class="row g-3 needs-validation" novalidate>

    <div class="col-md-4 position-relative">
      <label for="validationTooltipUsername" class="form-label">Location</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          <!-- Please choose a unique and valid username. -->
        </div>
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip05" class="form-label">Surface</label>
      <input type="number" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
        <!-- Please provide a valid zip. -->
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip05" class="form-label">Surface</label>
      <input type="number" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
        <!-- Please provide a valid zip. -->
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Rooms</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Bathroom</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Category</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-6 position-relative">
      <label for="validationTooltip03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>

    <div class="col-12">
      <a href="/roommate-ad" class="btn" > Return</a>
      <a href="/accomodation" class="btn"> Next</a>
    </div>
  </form>
</div>
