
<div>
  <section>
      <div class="row"  >
          <div class="col-md-9" data-aos="fade-right">
              <ul class="brand-list">
                  <li>
                      <a href="" class="active">All Categories</a>
                  </li>
                  <li>
                      <a href="">House</a>
                  </li>
                  <li>
                      <a href="">Appartment</a>
                  </li>
                  <li>
                    <a href="">Villa</a>
                 </li>
                  <li>
                      <a href="">Studio</a>
                  </li>
                  <li>
                      <a href="">Hotel</a>
                  </li>
                  <li>
                      <a href="">Hostel</a>
                  </li>
                  <li>
                      <a href="">Villa</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-3 search-top" data-aos="fade-left" data-aos-duration="1000">
            <form  class="input-wrapper">
              <input type="text" name="searchText" placeholder="Filter by name" [(ngModel)]="searchText" (ngModelChange)="filterResults()" class="input">

            </form>
        </div>
      </div>
      <div class="row " >
          <div class="col-md-2" data-aos="fade-right">
              <h3 class="side-title">Cities</h3>
              <ul class="products-category">
                  <li>
                      <a href="" class="active">All</a>
                  </li>
                  <li><a href="">Bizerte</a></li>
                  <li><a href="">Tunis</a></li>
                  <li><a href="">Nabeul</a></li>
                  <li><a href="">Gafsa</a></li>
                  <li><a href="">Gasserine</a></li>
                  <li><a href="">Tozeur</a></li>
                  <li><a href="">Kairaoane</a></li>
                  <li><a href=""></a></li>
                  <li><a href="">Sale</a></li>
              </ul>
          </div>
          <div class="col-md-10" data-aos="fade-left" data-aos-duration="1000">
              <div class="row">
                  <div class="col-md-8">
                      <div class="main-hero-slider" style="background-image: url('../../../assets/hotel.jpg');">
                          <h2>Garret Reynolds'<br>New Hotel</h2>
                          <div class="content-cta">
                              <button>Buy now</button>
                              <button class="dark">See review</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-image example"></div>
                          <div class="card-content">
                              <h5>New House For Renting In Bizerte ! </h5>
                              <p>Lorem, ipsum dolor </p>
                              <ul class="users">
                                  <li><img src="https://i.pravatar.cc/150?img=13" alt=""></li>
                                  <li><img src="https://i.pravatar.cc/150?img=14" alt=""></li>
                                  <li><img src="https://i.pravatar.cc/150?img=15" alt=""></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="main-ads" data-aos="fade-left" data-aos-duration="1000">
                <section class="results" *ngFor="let ad of filteredAdList" >
                  <app-ad-card [ad]="ad" id="ad"></app-ad-card>
                </section>
                </div>
          </div>
      </div>
  </section>
</div>
