
<div>
  <section>


  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

  <div class="flex md:order-2">
    <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
        <!-- <span class="sr-only">Open main menu</span> -->
        <h3 class="side-title">Types</h3>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
      <div class="row"  >
        <div class="col-md-18" data-aos="fade-right">
            <ul class="brand-list">
                <li>
                    <a href="" class="active">Types</a>
                </li>
                <li>

                    <a href="">House</a>
                </li>
                <li>
                    <a href="">Appartment</a>
                </li>
                <li>
                  <a href="">Villa</a>
               </li>
                <li>
                    <a href="">Studio</a>
                </li>
                <li>
                    <a href="">Hotel</a>
                </li>
                <li>
                    <a href="">Hostel</a>
                </li>
                <li>
                    <a href="">Villa</a>
                </li>
              </ul>
              <div class="col-md-3 search-top" data-aos="fade-left" data-aos-duration="1000">
                <form  class="input-wrapper">
                  <input type="text" name="searchText" placeholder="Filter by name" [(ngModel)]="searchText" (ngModelChange)="filterResults()" class="input">

                </form>
            </div>
        </div>
    </div>
      <!-- <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
      </ul> -->
    </div>
  </div>

      <div class="row " >
          <div class="col-md-2" data-aos="fade-right">
              <h3 class="side-title">Cities</h3>
              <ul class="products-category">
                  <li>
                      <a href="" class="active">All</a>
                  </li>
                  <li><a href="">Bizerte</a></li>
                  <li><a href="">Tunis</a></li>
                  <li><a href="">Nabeul</a></li>
                  <li><a href="">Gafsa</a></li>
                  <li><a href="">Gasserine</a></li>
                  <li><a href="">Tozeur</a></li>
                  <li><a href="">Kairaoane</a></li>
                  <li><a href=""></a></li>
                  <li><a href="">Sale</a></li>
              </ul>
          </div>
          <div class="col-md-10" data-aos="fade-left" data-aos-duration="1000">
              <div class="row">
                  <div class="col-md-8">
                      <div class="main-hero-slider" style="background-image: url('../../../assets/hotel.jpg');">
                          <h2>Garret Reynolds'<br>New Hotel</h2>
                          <div class="content-cta">
                              <button>Buy now</button>
                              <button class="dark">See review</button>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-image example"></div>
                          <div class="card-content">
                              <h5>New House For Renting In Bizerte ! </h5>
                              <p>Lorem, ipsum dolor </p>
                              <ul class="users">
                                  <li><img src="https://i.pravatar.cc/150?img=13" alt=""></li>
                                  <li><img src="https://i.pravatar.cc/150?img=14" alt=""></li>
                                  <li><img src="https://i.pravatar.cc/150?img=15" alt=""></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="main-ads" data-aos="fade-left" data-aos-duration="1000">
                <section class="results" *ngFor="let ad of filteredAdList" >
                  <app-ad-card routerLink="/ad-detail/{{ ad.id }}" [ad]="ad" id="ad"></app-ad-card>
                </section>
                </div>
          </div>
      </div>
  </section>
</div>
