<!-- <div class="ads">
  <app-ad-card *ngFor="let ad of ads" [ad]="ad" id="ad"></app-ad-card>
</div> -->
<div>
  <a href="" class="logo show-logo"></a>
  <!-- <header>
      <div class="row">
          <div class="col-md-3">
              <a href="" class="burger"><span class="icon"></span> Renting</a>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-3">
              <ul class="top-menu">
                  <li>
                      <a href="">US</a>
                  </li>
                  <li>
                      <a href="">Login</a>
                  </li>
                  <li>
                      <a href="">Support</a>
                  </li>
              </ul>
          </div>
      </div>
  </header> -->
  <section>
      <div class="row">
          <div class="col-md-9">
              <ul class="brand-list">
                  <li>
                      <a href="" class="active">All Categories</a>
                  </li>
                  <li>
                      <a href=""></a>
                  </li>
                  <li>
                      <a href="">Wethepeople</a>
                  </li>
                  <li>
                      <a href="">Fiend</a>
                  </li>
                  <li>
                      <a href="">Cult</a>
                  </li>
                  <li>
                      <a href="">Suprosa</a>
                  </li>
                  <li>
                      <a href="">Odyssey</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-3 search-top">
              <div class="input-wrapper">
                  <input type="text" placeholder="Search">
                  <button><svg viewBox="0 0 512 512" width="100" title="search">
                          <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" />
                      </svg></button>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
              <h3 class="side-title">Poperties</h3>
              <ul class="products-category">
                  <li>
                      <a href="" class="active">All</a>
                  </li>
                  <li><a href="">Bikes</a></li>
                  <li><a href="">Frames</a></li>
                  <li><a href="">Wheels</a></li>
                  <li><a href="">Steering</a></li>
                  <li><a href="">Clothing</a></li>
                  <li><a href="">Drivechain</a></li>
                  <li><a href="">Misc</a></li>
                  <li><a href="">Seating</a></li>
                  <li><a href="">Sale</a></li>
              </ul>
          </div>
          <div class="col-md-10">
              <div class="row">
                  <div class="col-md-8">
                      <div class="main-hero-slider">
                          <h2>Garret Reynolds'<br>New Bike.</h2>
                          <img class="dude" src="https://trumasex.com/tom/i-removebg-preview.png" alt="">
                          <div class="content-cta">
                              <button>Buy now</button>
                              <button class="dark">See review</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-image example"></div>
                          <div class="card-content">
                              <h5>XGAMES 2020</h5>
                              <p>New DVD, USA 2020 + Flybikes and Red Bull</p>
                              <ul class="users">
                                  <li><img src="https://i.pravatar.cc/150?img=13" alt=""></li>
                                  <li><img src="https://i.pravatar.cc/150?img=14" alt=""></li>
                                  <li><img src="https://i.pravatar.cc/150?img=15" alt=""></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <div class="card product-item">
                          product
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card product-item">
                          product
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card product-item">
                          product
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card product-item">
                          product
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card product-item">
                          product
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card product-item">
                          product
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>