<div class="custom-container px-5 my-5">
  <div class="container px-2 my-8">
    <div class="grid grid-cols-2 gap-2" id="pics">
      <div
        *ngFor="let image of imagesArr; let i = index"
        (mouseenter)="setHoveredIndex(i)"
        (mouseleave)="setHoveredIndex(null)"
      >
        <img
          class="h-auto max-w-full rounded-lg"
          [src]="image.url"
          alt=""
          id="img"
        />
        <button
          *ngIf="hoveredIndex === i"
          class="btn-remove"
          (click)="removeImage(i)"
        >
          X
        </button>
      </div>
    </div>
    <input
      class="form-control form-control-sm"
      id="formFileSm"
      type="file"
      multiple
      (change)="onFileSelected($event)"
    />
  </div>
  <button (click)="uploadData()" class="btn">Upload and Send Data</button>
</div>
