*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.card-container{
    max-width:260px;
    margin:40px auto;
}

.card-container:hover .card-image-swiper-container{
    visibility: visible;
    opacity:1;
}

.card-image-container{
    border-radius: 20px;
    width: 260px;
    height:260px;
    overflow: hidden;
    position: relative;
    background: #eee;
}

.card-content-container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap:4px;
}

.card-image-swiper-container{
    opacity:0;
    transition: opacity 240ms ease;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    width:100%;
}

.card-image-swiper{
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 160ms ease-in-out;
    cursor: pointer;
}

.card-image-swiper:hover{
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgb(0 0 0 / 12%) 0px 6px 16px;
    transform: scale(1.1);
}

.card-image-group{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 320ms ease-in-out;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit:cover;  
}

.card-image-above-elements{
    height: calc(50% + 32px);;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    align-items: center;
    padding-bottom: 16px;
    z-index: 1;
}

.card-image-indicator-container{
    display: flex;
    gap:4px;
}

.card-image-indicator{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(255, 255, 255);
    opacity: 0.6;
}

.card-image-indicator-active{
    opacity: 1;
}

.card-image-swiper-inactive{
    visibility: hidden;
}