 <div class="card-container" >
  <div class="card-image-container" #cardImageContainer   >
      <div class="card-image-above-elements">
          <div class="card-image-swiper-container">
              <button #cardImageSwiperBefore class="card-image-swiper card-image-swiper-before card-image-swiper-inactive">
                  <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display:block;fill:none;height:12px;width:12px;stroke:currentcolor;stroke-width:4;overflow:visible"><path d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"/></svg>
              </button>
              <button #cardImageSwiperAfter class="card-image-swiper card-image-swiper-after">
                  <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display:block;fill:none;height:12px;width:12px;stroke:currentcolor;stroke-width:4;overflow:visible"><path d="m12 4 11.3 11.3c.4.4.4 1 0 1.4L12 28"/></svg>
              </button>
          </div>
          <div class="card-image-indicator-container" #cardImageIndicator>
            <span class="card-image-indicator card-image-indicator-active"></span>
            <span class="card-image-indicator"></span>
            <span class="card-image-indicator"></span>
            <span class="card-image-indicator"></span>
            <span class="card-image-indicator"></span>
        </div>
      </div>
        <div class="card-image-group" #cardImageGroup routerLink="/ad-detail/{{ ad.id }}" style="cursor: pointer;">
        <img class="card-image"  *ngFor="let image of ad.accomodation.images" [src]="imageLink" >
      </div>
  </div>
  <div class="card-content-container" >
      <span>{{ ad.accomodation.location }}</span>
      <span> {{ad.title}}</span>
      <span>{{ad.accomodation.category}}</span>
      <span>{{ ad.price }} DT </span>
  </div>
</div>
 
