
<div class="card product-item">
  <div class="slider">
    <a class="control_next">></a>
    <a class="control_prev"><</a>
    <ul>
      <li *ngFor="let image of ad.images" 
          style="background-image: url('../../../assets/{{ image }}');
                 width: 300px; 
                 height: 300px;">
      </li>
    </ul>  
  </div>
    <div class="product-item-desc px-1 py-1">
      {{ ad.title }}   
       {{
        ad.timestamp
      }}  
      <div class="product-item-price">
       <b class="font-bold">{{ ad.price }}DT</b>
      </div>
    </div>
 </div>