<div class=" card1">
  <div class="card">
    <!-- card left -->
    <div class="product-imgs">
      <div class="img-display">
        <div class="img-showcase">
          <img *ngFor="let image of ad.accomodation.images" [src]="getImage(image)|async">
        </div>
      </div>
      <div class="img-select">
        <div class="img-item" *ngFor="let image of ad.accomodation.images">
          <a href="#" data-id="1">
            <img [src]="getImage(image)|async">
          </a>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">{{ad.title}}</h2>
      <a href="#" class="product-link">Location : {{ad.accomodation.location}}</a>
      <div class="product-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div>

      <div class="product-price">
        <p class="new-price">Price <span>{{ad.price}} DT</span></p>
      </div>

      <div class="product-detail">
        <h2>about this Property: </h2>
        <p>{{ad.description}}</p>
        <ul>
          <li>Rooms: <span>{{ad.accomodation.rooms}}</span></li>
          <li>Bathrooms: <span>{{ad.accomodation.bathrooms}}</span></li>
          <li>Best: <span>{{ad.accomodation.best}}</span></li>
          <li>Category: <span>{{ad.accomodation.category}}</span></li>
          <li>Best: <span>{{ad.accomodation.best}}</span></li>

        </ul>
      </div>
      <div class="purchase-info">
        <a class="fancy" href="#" style="border: 1px solid #d12828a8;background-color: #d12828a8;">
          <span class="top-key"></span>
          <span class="text">Rent Now </span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

        <a class="fancy" href="#">
          <span class="top-key"></span>
          <span class="text">Contact Owner </span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </div>
    </div>
  </div>
</div>
