<header>
  <div class="container">
    <div class="logo-box">
      <a routeLink="/">
        <img width="80px" src="./assets/logo.png" alt="locato logo">
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/list-ads" data-nav-link>Home</a>
        </li>
        <li>
          <a routerLink="/post-ad" data-nav-link>Post Ad</a>
        </li>
        <li *ngIf="secService.isAuthenticated()">
          <a routerLink="/mylist-ads" data-nav-link>My Ads</a>
        </li>
        <li>
          <a href="" data-nav-link>Contact</a>
        </li>
        <li></li>
        <span *ngIf="!secService.isAuthenticated()">
          <button (click)="login()" class="button">
            <span class="button_lg">
              <span class="button_sl"></span>
              <span class="button_text">Login</span>
            </span>
          </button>
        </span>
        <span *ngIf="secService.isAuthenticated()">
          <button (click)="logout()" class="button">
            <span class="button_lg">
              <span class="button_sl"></span>
              <span class="button_text">Logout</span>
            </span>
          </button>
        </span>
      </ul>
    </nav>
  </div>
</header>
