<header>
    <div class="row">
        <div class="col-md-3">
          <img src="../../../assets/logo.png" width="70px"  alt="">
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <ul class="top-menu">
                <li>
                    <a href="">US</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">Support</a>
                </li>
            </ul>
        </div>
    </div>
</header>