header {
	margin-bottom: 30px;
	a {
		text-decoration: none;
	}
	.burger {
		display: block;
		margin-top: 15px;
		font-family: var(--font-primary);
		color: var(--color-dark);
		font-size: 17px;
		vertical-align: middle;
		.icon {
			display: inline-block;
			width: 20px;
			position: relative;
			margin-right: 15px;
			height: 12px;
			vertical-align: middle;
			&:before,
			&:after {
				content: "";
				position: absolute;
				background: var(--color-dark);
				height: 3px;
				border-radius: 2px;
				overflow: hidden;
				width: 100%;
			}
			&:before {
				top: 0px;
			}
			&:after {
				bottom: 2px;
			}
		}
	}
	.top-menu {
		display: flex;
		justify-content: flex-end;
		li {
			display: flex;
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
			a {
				color: var(--color-dark);
				text-decoration: none;
				transition: ease all 0.3s;
				padding-top: 15px;
				padding-bottom: 5px;
				border-radius: 22px;
				line-height: 100%;
				font-size: 12px;
				position: relative;
				&:after {
					opacity: 0;
					left: 0;
					content: "";
					position: absolute;
					height: 1px;
					width: 0%;
					background-color: var(--color-dark);
					bottom: 0;
					transition: ease-in-out all 0.3s;
				}
				&:hover {
					&:after {
						width: 100%;
						opacity: 1;
					}
				}
			}
		}
	}

}